*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    height: 100vh;
    display: flex;
    padding: 30px;
    gap: 40px;
    flex-wrap: wrap;
   
}
.box{
    width: 200px;
    height: 200px;
    background: orange;
    transition: 0.5s cubic-bezier(.075, 1, 0.165, 1);
   
}
.p{
   
    background: rgb(17, 16, 13);
    transition: 0.5s cubic-bezier(.075, 1, 0.165, 1);
   
}
.p:hover{
    transform: scale(80deg);
}
.box:hover{
   
    transform: translateY(50px);
}
.box1{
    background: blue;
    
}
.box1:hover{
  transform: scale(180%);
}
.box2{
    background: rgb(86, 221, 8);
    width: 200px;
    height: 200px;
    padding: 10px;
}
.box2:hover{
   transform: rotate(180deg);
}
.box3{
    background: rgb(58, 169, 194);   
    width: 200px;
    height: 200px;
}
.box3:hover{
    transform:skew(30deg);
}
.box4{
    background: olive;   
    width: 200px;
    height: 200px;
}
.box4:hover{
    transform:rotateY(90deg) rotateX(40deg) ;
}
.box5{
   padding: 10px;
   color: whitesmoke;
   width: 200px;
   height: 200px;
   background: black;
   overflow: auto;
}
