*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    gap: 10px;
    text-decoration: none;
}
body{
    background-image: url(https://wp-s.ru/wallpapers/11/5/467272388293579/krasivejshij-vodopad-vpadaet-v-goluboe-ozero.jpg);
}

.temur{
   
  margin: auto;
  margin-top: 40px;
  padding-top: 14px;
    align-items: center;
justify-content: center;
   text-align: center;
   background: rgba(255, 255, 255, 0.656);
   width: 350px;
   height: 530px;
   margin-bottom: 30px;
 
}
input{
 width: 270px;
height: 35px;
border-radius: 10px;
text-align: center;
border: grey white 1px;
border: none;


}
.q2{  width: 127px;
    border: none;
    height: 30px;
    background-image: linear-gradient( to left,rgba(174, 108, 10, 0.76),rgba(0, 255, 38, 0.815),rgb(204, 255, 0));
    border-radius: 20px;
    
   }

.q1{
    width: 127px;
    border: none;
    height: 30px;
    background-image: linear-gradient(rgba(251, 0, 255, 0.715), rgb(0, 255, 225), rgba(19, 20, 20, 0.17));
 border-radius: 20px;
}
table{
    margin: auto;
    width: 270px;
    border-radius: 20px;
   border: groove 3px rgba(255, 255, 255, 0.888);
}
.button{
    width: 25px;
    height: 15px;
    background: red;
   
}

.n1{
    width: 35px;
    
}
.n2{
    width: 60px;
}
.n3{
    width:35px;
}
.n4{
    width: 60px;
}
.q3{
    font-size: 30px;
    width: 0px;
height: 0px;
    margin-bottom: 0px;
    
}
.q2:hover{
    transition: 0.5s;
  background-image: linear-gradient(to right, rgb(17, 25, 139), rgba(241, 13, 13, 0.978),rgb(50, 19, 19));
}

.q1:hover{
    transition: 0.5s;
  background-image: linear-gradient(to right, rgba(231, 109, 10, 0.885), rgb(13, 241, 207),rgb(182, 13, 134));
}
 .e1{
    background: rgba(0, 0, 0, 0.87);
    color: white;
    font-size: 20px;
   
 } 
 .e3{
    box-shadow:0px 0px 2px ;
 } 
.e2{
    box-shadow:0px 0px 2px ;
    background: rgba(255, 255, 255, 0.448);
}
.w1{
    width: 270px;
    height: 35px;
    border-radius: 10px;
    background: white;
    font-size: 15px;

}



